<div class="row">
  <!--<div class="col-md-4"></div>-->
  <div class="col-xs-12 col-md-4 col-sm-offset-1 col-md-offset-4">
    <div class="list-group-item clearfix">
      <div class="pull-right">
        <h4 class="list-group-item-heading">
          {{article.name}}
        </h4>
        <p class="list-group-item-text">
          <a [href]="article.link">
          {{article.link}}
          </a>
        </p>
        <div [ngStyle]="{color: 'blue'}"></div>
        <span class="caret" (click)="onDownVote()"></span>
         <span class="dropup">
    <span class="caret"(click)="onUpVote()"></span>
</span>
      </div>
      <div class="pull-left">
        <h1 [ngStyle]=" score < 0 ? {color: 'red'} : {color : 'blue'}"
        >{{score}}</h1>
      </div>
    </div>
  </div>
</div>
<!--<div class="class row">
  <div class="class col-md-4 col-md-offset-4"><p class="text-center">Test Test Test</p></div>
</div>-->